streamlit
requests
pandas
plotly
deep-translator

# Voice dependencies
gTTS
SpeechRecognition
pydub

# Required for pydub audio conversion
ffmpeg-python

# Maps
folium
streamlit-folium

# Misc
python-dotenv

streamlit
requests
pandas
plotly
deep-translator
folium
streamlit-folium
